body{
    overflow-x: hidden;
}

.hero {
    background: url("http://hygienspelet.se/resources/bakgrund-web.jpg") no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
}
.hero:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0666b0;
    opacity: .5;
}

#logotype{
     background: url("http://hygienspelet.se/resources/webLogo.png") no-repeat center center;
     background-size: contain;
     width: 60%;
     height: 100%;
     min-height: 20px;
     vertical-align: middle;
 }

#headerRow{
    border-bottom: #000000;
    border-bottom: groove;
    height: 6vh;
    min-height: 20px;
}

.container-fluid{
    align-content: center;
    justify-content: center;
    text-align: center;
}

#home{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    min-height: 20px;
    width: 20%;
    vertical-align: middle;
}
#homebtn{
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    margin-bottom: 2%;
    height: 125%;
}
#homebtn:hover{
    background: rgba(230,250,255, 0.1);
}


#sound{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    min-height: 20px;
    width: 20%;
    vertical-align: middle;

}

#soundbtn{
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    margin-bottom: 2%;
    height: 125%;
}
#soundbtn:hover{
    background: rgba(230,250,255, 0.1);
}
#question{
    height: 40vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}



#questionwell{
    height: 100%;
    width: 100%;
}


.img-responsive{
    height: 100%;
    width: auto;
    margin: 0 auto;
    top: 50%;
}

.progress{
    margin-top: 1%;
}
.btn-group{
    width: 100%;
    margin-top: 1% ;
    margin-bottom: 1%;
}

.btn{

    margin-bottom: 2vh;

}
.btn-default{
    font-size: smaller;


}

.btn-lg{
    word-wrap: break-word;
    white-space: normal;
}
.btn-default:hover{

}
.btn-default.active, .btn-default:active {
    background: lightsteelblue;


}

#proceed-btn{
    vertical-align: middle;
    background-color: transparent;

}
#proceed-btn:hover{
    background: rgba(230,250,255, 0.1);
}

#proceed-img{

    width: 50% ;

}

@media only screen and (min-width: 1024px) {
    #headerRow{
        border-bottom: #000000;
        border-bottom: groove;
        height: 6vh;
        min-height: 20px;
    }

    #logotype {
        width: 60%;
        height: 100%;
        display: block;
        background-size: contain;
        margin: 0 auto;
    }

    #sound{
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 85%;
        min-height: 20px;
        width: 20%;
    }

    #home{
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 85%;
        min-height: 20px;
        width: 20%;
    }

    .hero {
        background: url("http://hygienspelet.se/resources/bakgrund-web.jpg") no-repeat center center;
        background-size: cover;
        height: 100%;
        overflow-x: hidden;
    }




}

