body{
    overflow-x: hidden;
}

.hero {
    background: url("http://hygienspelet.se/resources/bakgrund-web.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}
.hero:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    left: 0;
    background-color: #0666b0;
    opacity: .5;
}

.img-responsive{
    height: 100%;
    width: auto;
    margin: 0 auto;
    top: 50%;
}

.container-fluid{
    align-content: center;
    justify-content: center;
    text-align: center;
}

#logotype{
    background: url("http://hygienspelet.se/resources/webLogo.png") no-repeat center center;
    background-size: contain;
    width: 60%;
    height: 100%;
    min-height: 60px;
    vertical-align: middle;
}

#infocolumn{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    min-height: 60px;
    width: 20%;
    vertical-align: middle;
}

#highscorecolumn{
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    min-height: 60px;
    width: 20%;
    vertical-align: middle;
}

.row {
    margin-bottom: 3%;
    overflow-wrap: break-word;
    text-align: center;
    align-content: center;
}

#headerRow{
    border-bottom: #000000;
    border-bottom: groove;
    height: 10vh;
    min-height: 60px;
}

#message-text{
  min-height: 100px;
  max-height: 400px;
}
/*
Pop-up css  START
*/
#top{
    min-height: 100px;
    max-height: 300px;
    overflow-y:scroll;

}

#history{
    min-height: 100px;
    max-height: 300px;
    overflow-y:scroll;

}

#active{
    min-height: 100px;
    max-height: 300px;
    overflow-y:scroll;

}

#finished{
    min-height: 100px;
    max-height: 300px;
    overflow-y:scroll;

}





/* POP_UP END*/

/* AUTOCOMPLETION*/

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield form .biginput {
    width: 60vw;
    max-width: 500px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
    color: #858585;
}

#searchfield-challenge { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield-challenge form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield-challenge form .biginput-challenge {
    width: 60vw;
    max-width: 500px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield-challenge form .biginput-challenge:focus {
    color: #858585;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow-x: hidden;  width: 60vw; max-width: 500px; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 100%; white-space: normal; overflow-x: hidden; width: 60vw; max-width: 500px; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/**/

#footer{
    margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
    #headerRow{
        border-bottom: #000000;
        border-bottom: groove;
        height: 10vh;
        min-height: 60px;
    }

    #logotype {
        width: 60%;
        height: 100%;
        display: block;
        background-size: contain;
        margin: 0 auto;
    }

    #highscorecolumn {
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 85%;
        min-height: 60px;
        width: 20%;
    }

    #infocolumn {
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 85%;
        min-height: 60px;
        width: 20%;

    }

    .hero {
        background: url("http://hygienspelet.se/resources/bakgrund-web.jpg") no-repeat center center;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        width: 100vw;
        min-height: 100vh;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    #challangeContainer{
        width: 80vw;


    /*    height: 40vh;*/
    }

    #playchallangeContainer{
        width: 80vw;
        margin-bottom: 3vh;
    }
}

