body{
    overflow: hidden;
}

.hero {
    background: url("http://hygienspelet.se/resources/bakgrund-web.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0666b0;
    opacity: .5;
}

.hero .intro {
    padding: 3rem;
    position: relative;
    top: 35%;
    transform: translateY(-30%);
    justify-content: center;
}


.hero .logotype{
    background: url("http://hygienspelet.se/resources/webLogo.png") no-repeat center center;
    background-size: contain;
    width: 80vw;
    height: 10vh;
    display: block;
    margin: 0 auto;
    min-height: 60px;
}

.hero .tech-img {
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#autocomplete{
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 1vh;
}

#search{
    font-size:12px;
    text-align: center;
    font-weight: normal;
    color: white;
}

#outputcontent{
    font-size:12px;
    text-align: center;
    font-weight: normal;
    color: white;
}

.typeahead{
    width: 50%;
    min-height: 40px;
}

.bs-example{
    font-family: sans-serif;
    position: relative;
    margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}

.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield form .biginput {
    width: 80vw;
    max-width: 700px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
    color: #858585;
}

#searchfield-challenge { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield-challenge form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield-challenge form .biginput-challenge {
    width: 80vw;
    max-width: 700px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield-challenge form .biginput-challenge:focus {
    color: #858585;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow-x: hidden;  width: 80vw; max-width: 700px; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 100%; white-space: normal; overflow-x: hidden; width: 80vw; max-width: 700px; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/*För skärmar med pixel-bredd över 1024 pixlar*/
@media only screen and (min-width: 1024px) {
    .hero .logotype {
        width: 80vw;
        height: 20vh;
        display: block;
        background-size: contain;
        margin: 0 auto;
    }

    .hero .tech-img {
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #autocomplete{
        width: 80vw;
        max-width: 500px;
    }
    #searchfield form .biginput {
        width: 80vw;
        max-width: 700px;
        height: 40px;
        padding: 0 10px 0 10px;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        border-radius: 3px;
        color: #aeaeae;
        font-weight:normal;
        font-size: 1.5em;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}
